/*See previous labs for css styling examples.*/
::selection {
	background: black;
	color: yellow;
}
#main-nav ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}
#main-nav {
	float: left;
  width: 100%;
  background-color: #E4080A;
	opacity: 0.5;
}
#main-nav ul li {
	float: left;
  position: relative;
  right: 50%;
}
#main-nav ul li a {
	padding: 10px 50px;
  display: block;
  text-decoration: none;
  color: white;
}
#main-nav ul li a:hover {
	background-color:  #EC4748; /*This code is borrowed from lab 6. If it works, why reinvent the wheel?*/
  color: white;
}
.centered-content {
	text-align: center;
}
.boxed-content {
	border: 3px solid black;
	padding: 5 px;
	margin: auto;
	text-align: center;
}
body {
	background-color: #F4A728;
}
#resume {
	background-color: white;
}
h6 {
	text-align: center;
}
p {
	font-family: "Lato", sans-serif;
	font-style: normal;
}
.about-me {
	color: black;
}
.marmot-facts {
	font-family: "Times New Roman", Times, serif;
	font-weight: oblique;
}
.marmot-facts a {
	text-decoration: none;
	text-align: center;
  border: 3px solid green;
	display: block;
	margin: auto;
	float: none;
	padding: 20px;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img {
	border-radius: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	border: 5px dotted black;
}
img:hover {
	width: 50%;
	height: 50%;
}
#video {
	display: block;
	margin: auto;
	float: center;
	width: 50%;
	height: 500px;
}
#marmots-banner {
	border-radius: 8px;
	float: center;
}